# Adapted from gitignore

# Numerous always-ignore extensions
*.diff
*.err
*.gz
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
._*
.cache
.directory
.DS_Store
.Icon?
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db
ehthumbs.db
Desktop.ini

# Folders to ignore
bower_components
node_modules
web_modules
examples
compost

# Non-dist files and folders
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.git
.gitignore
Dockerfile
README.md
src
!src/modules
!src/static
test
